* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
 
  body {
  font-family: "Roboto", sans-serif;
  }
 
  label {
  color: #2596be;
  }
 
  button {
  padding: 5px 30px;
  margin-top: 10px;
  background-color: #fff;
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
   
    body {
    font-family: "Roboto", sans-serif;
    }
   
    label {
    color: #2596be;
    }
   
    button {
    padding: 5px 30px;
    margin-top: 10px;
    background-color: #fff;
    .campo {
      padding: 5px 10px;
      width: 100%;
      }
     
      .campo input {
      width: 100%;
      border: 1px solid #2596be;
      height: 30px;
      padding: 5px 5px;
      }
     
      .campo input:focus {
      outline: none;
      }
     
      .campo select {
      width: 100%;
      border: 1px solid #2596be;
      height: 30px;
      background-color: #fff;
      }
     
      .campo select:focus {
      outline: none;
      }
     
      .botao {
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .resultado {
        padding: 5px;
        margin-top: 10px;
        background-color: #fff;
        border: 1px solid #2596be;
        display: block;
        }